@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  overflow-x: hidden;
  overflow-y: scroll
}

.no-scroll {
  position: fixed;
  inline-size: 100%;
}




.main-container {
  @apply max-w-[1720px] mx-auto xl:px-0 px-4;

  /* Remove padding on small screens */
  padding-left: 0;
  padding-right: 0;
}

/* Apply padding on large screens */
@media (min-width: 640px) {
  .main-container {
    padding-left: 2rem; /* Adjust as needed */
    padding-right: 2rem; /* Adjust as needed */
  }
}



.main2-container {
  @apply max-w-[1320px] mx-auto xl:px-0 px-4;
}


@media (max-width: 640px) {
  .rounded-lg {
    border-radius: 0; /* Remove rounded corners for small screens */
  }
}






.swiper-wrapper {
  @apply md:gap-2 gap-1 justify-between;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

.rdrMonth {
  width: 100% !important;
}

.rdrCalendarWrapper {
  width: 100% !important;
  font-size: 16px !important;
}

body {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  @apply w-2;
}

/* Hide scrollbar for screens below 640 pixels */
@media (max-width: 639px) {
  ::-webkit-scrollbar {
    display: none;
  }
}
::-webkit-scrollbar-thumb {
  @apply bg-[#808080] transition-all duration-300 rounded-[25px];
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-[#2F74FD];
}

::-webkit-scrollbar-track {
  @apply bg-[#ffffff]  rounded-[25px];
}

::-webkit-scrollbar-corner {
  @apply rounded-[25px];
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0;
}