@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  overflow-x: hidden;
  overflow-y: scroll
}

.no-scroll {
  position: fixed;
  inline-size: 100%;
}

.aspect {
  @apply  aspect-[1/0.95] ;

  /* Remove padding on small screens */
  
}

@media (min-width: 640px) {
  .aspect {
    @apply aspect-[1/0.5] ;  /* Adjust as needed */
  }
}


.container {
  @apply max-w-[1220px] mx-auto xl:px-0 px-4;
 
}



@media (max-width: 640px   ) {
  
  .container {
    padding-left: 4; /* Remove left padding */
    padding-right: 4; /* Remove right padding */
  }

}











.main-container {
  @apply max-w-[1720px] mx-auto xl:px-0 px-4;

  /* Remove padding on small screens */
  padding-left: 0;
  padding-right: 0;
}

/* Apply padding on large screens */
@media (min-width: 640px) {
  .main-container {
    padding-left: 2rem; /* Adjust as needed */
    padding-right: 2rem; /* Adjust as needed */
  }
}



.main2-container {
  @apply max-w-[1220px] mx-auto xl:px-0 px-4;
}


@media (max-width: 640px) {
  .rounded-lg {
    border-radius: 0; /* Remove rounded corners for small screens */
  }
}



.main-container3 {
  @apply max-w-[1720px] mx-auto xl:px-0 px-4;

  /* Remove padding on small screens */
  padding-left: 2;
  padding-right: 2;
}





.main-container4 {
  @apply max-w-[1000px] mx-auto xl:px-0 px-4;

  /* Remove padding on small screens */
  padding-left: 2;
  padding-right: 2;
}



.div17 {
  @apply max-w-[520px] mx-auto xl:px-0 px-4;

 
}

.buttonn {
  background-color: #f0f0f0;
  border-radius: 20px;
  padding: 10px 20px;
  text-decoration: none;
  color: #000; /* Default color */
  transition: background-color 0.3s, color 0.3s; /* Transition effect */
}

.buttonn:hover {
  background-color: #ccc; /* Change background color on hover */
  color: #fff; /* Change text color on hover */
}





.swiper-wrapper {
  @apply md:gap-2 gap-1 justify-between;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

.rdrMonth {
  width: 100% !important;
}

.rdrCalendarWrapper {
  width: 100% !important;
  font-size: 16px !important;
}

body {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  @apply w-2;
}

/* Hide scrollbar for screens below 640 pixels */
@media (max-width: 639px) {
  ::-webkit-scrollbar {
    display: none;
  }
}
::-webkit-scrollbar-thumb {
  @apply bg-[#f0f0f0] transition-all duration-300 rounded-[25px];
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-[#808080];
}

::-webkit-scrollbar-track {
  @apply bg-[#ffffff]  rounded-[25px];
}

::-webkit-scrollbar-corner {
  @apply rounded-[25px];
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0;
}
.icon-circle {
  width: 35px; /* Adjust size as needed */
  height: 35px; /* Adjust size as needed */
  background-color: black;
  border-radius: 50%; /* Makes it a circle */
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-circle a {
  color: white; /* Icon color */
  font-size: 15px; /* Adjust size as needed */
}

.icon-circle a:hover {
  color: #ccc; /* Hover color */
}

.gif {
  width: 1100px; /* Adjust size as needed */
  height: 550px;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 640px) {
  .gif {
    height: 300px;
  }
}




.textlg {
  font-family:  Arial, Helvetica, sans-serif; /* Adjust size as needed */
  font-size: 24px;
}


.textlg1 {  
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /* Adjust size as needed */
font-weight: lighter;
  
  font-size: 40px;
}


@media (max-width: 540px) {
  .textlg1 {
    font-size: 24px;
  }
}




.textlg2 { 
   font-family:  Arial, Helvetica, sans-serif; /* Adjust size as needed */
  font-size: 26px;
}

.section2 {
  background-color: #f0f0f0; /* Hover color */
}